<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do App</title>

   <!-- Link Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Julius+Sans+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/todoApp.css">
  
</head>

<body>
  <section class="section">
    <div class="grid">
      
      <!-- Left side: Reminder form -->
      <div class="grid-left">
        <h1 class="title">Reminder</h1>
        <form class="form" method="POST" action="/data_todoApp">
          <input type="text" name="task" placeholder="Enter task" required>
          <input type="date" name="taskDate" required>
          <textarea name="taskField" placeholder="Enter task details" rows="4"></textarea>
          <button type="submit" class="button">Submit</button>
        </form>
      </div>

      <!-- Right side: Task cards -->
      <div class="grid-right">
        <ul> 
          <% for( const task of storedTasks) { %>
             <%- include('card.ejs', { task: task }) %> 
          <% } %> 
        </ul>
      </div>
    </div>
  </section>
</body>